.tmarg {
    margin-top:25px;
    width:700px;
    max-width: 720px;
    height:70px;
    text-align:center;
    font-weight:bold;
    color:black;
    }
    
.containerb {
       margin: auto;
       background-color: transparent;
       width: 720px;
       height: 700px;
       border: 3px solid skyblue;
       }
       
.cont {width: 700px;
   height: 550px;
   background-color: white;
   }
   
.formms {
    margin-top: 60px;
    width: 637px;
    height:38px;
    }
              
.bfff {margin-top:5px;
   width:705px;
   }
          
.other {
   width:300px;
   }
   
.me {margin-left:340px;
 width:300px;
 }
 
.enter {width:630px;
   }
   
.butt {
  margin-top:20px;
  margin-left: 10px;
  }
  
  
  
  
  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
body {
font-family: 'Roboto', sans-serif;
font-weight: 300;
}


.chat-bubble {
background: #dedede;
border-radius: 18px;
font-size: 14px;
line-height: 1.4em;
margin: 12px 24px;
max-width: 60%;
padding: 12px;
position: relative;
}

.chat-bubble::before, .chat-bubble::after {
content: '';
bottom: 0;
height: 20px;
left: -10px;
position: absolute;
}

.chat-bubble:before {
border-color: #dedede;
border-left-style: solid;
border-left-width: 20px;
border-bottom-right-radius: 50%;
z-index: -1;
}

.chat-bubble::after {
background: #ffffff;
border-bottom-right-radius: 50%;
width: 10px;
z-index: 1;
}

.chat-bubble.mine {
background: #3888ea;
color: #fff;
margin-left: auto;
}

.chat-bubble.mine::before, .chat-bubble.mine::after {
left: auto;
right: -10px;
}

.chat-bubble.mine::before {
border: none;
border-color: #3888ea;
border-right-style: solid;
border-right-width: 20px;
border-bottom-left-radius: 50%;
}

.chat-bubble.mine:after {
border-bottom-left-radius: 50%;
}

test::before {
border-color: #F3F3F3;
border-left-style: solid;
border-left-width: 20px;
border-bottom-right-radius: 16px 14px;
left: -7px;
z-index: -1;
}

.test::after {
content: "";
background: #FFFFFF;
left: -9px;
width: 9px;
z-index: 1;
}

.test::before,
.test::after {
content: "";
bottom: 0px;
height: 20px;
position: absolute;
}